<%- include('partials/header'); -%> 

        <h1>Contact Us</h1>
        <p><%= para3 %> </p><br><br>
        <center>
                <a class="btn btn-info btn-lg"aria-pressed="true"href="mailto:ayushat.0202@gmail.com">CONTACT ME</a>

        </center>


<%- include('partials/footer'); -%> 