<%- include('partials/header'); -%> 
<div>
    <h1>Home</h1>
    <p><%= para1 %> </p>
    <hr>
    <div class="homegallery">
        <img class = "homepic" src="images/backgroundpic.jpg"  alt="bck">
        <img class = "homepic" src="images/background2.jpg"  alt="bck">
        <!-- <img class = "homepic" src="images/quote.jpg" alt="bck"> -->
        <img class = "homepic" src="images/quote1.jpg"  alt="bck">
    </div>
    <hr>
  
</div>
<%- include('partials/footer'); -%> 

    
    
<!-- style="background-color: rgba(172, 245, 222,0.7);" -->
<!-- style="background-image: url(images/backgroundpic.jpg)"; -->
<!-- ADD SCRIPITLET TAG AND EJS TAG IN H1 AND P WHEN TRY TO RUN THIS PART OF CODE...
     for(var i = 0 ; i < posts.length ; i++){ 
        <h1>posts[i].Title %></h1><br>
        <p>posts[i].Content %></p>
    } -->

    <!-- SAME CODE WITH FOREACH LOOP -->
    <!-- <center>
        
        <!-- <h2><strong>Your Posts</strong></h2><hr> -->
       
          <!-- posts.forEach((post) => {     -->
<!--           
            <h1> post.Title %></h1><br>
            <p>post.Content.substring(0,80)  + " ..." %><a href="/post/  post.Title %>">Read More</a></p>
            }) %>  -->
    <!-- </center> --> 
